* {
    margin: 0;
    padding: 0;
    font-family: none;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #05BFDB; 
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
}

/* Navegador */

header {
    height: 120px;
    width: 100%;
    background-color: #0A4D68;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 100%;
    display: flex;
    flex-direction: row;
}

header h1 {
    transition: all 0.7s ease;
    margin-bottom: 10px;
}

header h1:hover{
    color: #00FFCA;
    font-size:50px;
    cursor: default;
}

#logo img {
    height: 70%;
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header nav ul li {
    margin-right: 20px;
    font-size: large;
}

header nav ul li a{
    transition: color 0.5s ease;
    color: white;
}


header nav ul li a:visited{
    color: white;
}

header nav ul li a:hover {
    color: #00FFCA;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        height: 280px;
    }

    header nav{
        margin-bottom: 20px;
    }

    header nav ul {
        margin-bottom: 15px;
    }

    #logo img {
        height: 80%;
        width: 80%;
        border-radius: 50%;
    }
}

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        height: 320px;
    }

    header nav{
        margin-bottom: 20px;
    }

    header nav ul {
        margin-bottom: 15px;
    }

    header nav ul li {
        margin-right: 10px;
    }
}


/* Carrusel */
section {
    height: 700px;
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-evenly;
    align-items: center;
}

#apartado {
    background-color: #088395;
    height: 100%;
    flex-basis: 30%;
}

#anuncio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#anuncio h2 {
    margin-bottom: 30px;
    width: 80%;
    text-align: center;
}

#apartado img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.carrusel {
    width: 100%;
    height: 100%;
    flex-basis: 70%;
    overflow: hidden;
}

.carrusel ul{
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;
    animation: slide 24s infinite alternate ease-in-out;
}

.carrusel ul li{
    list-style-type: none;
    width: 100%;
}

.carrusel img {
    width: 100%;
    height: 100%;
}

@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
  
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
  
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
  
    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}

@media(max-width: 767px) {
    .inicio {
        flex-direction: column;
        height: 700px;
    }

    #apartado {
        flex-basis: 30%;
        flex-direction: row;
    }

    #anuncio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #anuncio h2 {
        margin-bottom: 0;
        text-align: center;
        flex-basis: 70%;
    }

    #anuncio img {
        border-radius: 50%;
        flex-basis: 30%;
        max-width: 150px;
    }

    .carrusel {
        flex-basis: 70%;
    }
}

@media(max-width: 480px) {
    .inicio {
        display: flex;
        flex-direction: column;
        height: 700px;
    }

    #anuncio img {
        display: none;
    }
}

/* Nosotros */

/* #nosotros {
    
} */

.nosotrosIn {
    height: 478px;
}

#infoNosotros{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    flex-basis: 40%;
}

.nosotrosIn p {
    width: 70%;
    text-align: justify;
}

#carrusel2{
    overflow: hidden;
    flex-basis: 50%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    border-radius: 10px;
}

#carrusel2 ul{
    display: flex; 
    padding: 0;
    width: 200%;
    height: 100%;
    animation: car 10s infinite alternate ease-in-out;
}

#carrusel2 ul li{
    list-style-type: none;
    width: 100%;
}

#carrusel2 img{
    width: 100%;
    height: 100%;
}

@keyframes car{
    0%{margin-left: 0%;}
    40%{margin-left: 0%;}
  
    50%{margin-left: -100%;}
    100%{margin-left: -100%;}
}
 

@media screen and (max-width: 767px) {
    #nosotros {
        flex-direction: column;
    }

    .nosotrosIn {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    #nosotros {
        height: 400px;
    }

    #infoNosotros{
        font-size: 15px;
    }
}

/* Comida */

#comida {
    /* background-color: coral; */
    background-color: #088395;
    flex-direction: column;
}

#tituloComida {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05BFDB;
    border-radius: 20px;
    height: 100px;
    width: 50%;
    padding: 15px;
    color: white;
}

#tituloComida h2{
    text-align: center;
}

#comidaCarrusel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #05BFDB;
    border-radius: 20px;
    height: 300px;
    width: 95%;
}

#comidaCarrusel ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style-type: none;
    width: 100%;
}

#comidaCarrusel ul li {
    position: relative;
    overflow: hidden;
    transition: all 500ms ease-out;
    height: 80%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    border-radius: 10px;
}

#comidaCarrusel ul li img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 500ms ease-out;
}

.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}
.capa h3{
    transition: all 500ms ease-out;
}
.capa p{
    width: 100%;
}

#comidaCarrusel ul li:hover > .capa{
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

#comidaCarrusel ul li:hover > .capa h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

#comidaCarrusel ul li:hover > img{
    transform: scale(1.3);
}


/* Diseño */

#diseño {
    height: 450px;
    flex-direction: column;
    color: black;
}

#tituloDiseño {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 100px;
    width: 50%;
    border-radius: 20px;
}

#diseñadores {
    background-color:#088395 ;
    height: 200px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.parrafoD {
    text-align: center;
    background-color: #fff;
    height: 100px;
    width: 40%;
    padding: 8px;
    border-radius: 20px;
}

.parrafoD h3 {
    margin-top: 15px;
}

.parrafoD ul {
    display: flex;
    justify-content: center;
}

.parrafoD ul li {
    float: left;
    list-style-type: none;
    margin: 0 12px;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    #diseñadores {
        flex-direction: column;
        height: 300px;
    }

    .parrafoD {
        height: 80px;
        width: 70%;
        padding: 8px;
    }
}

/* .parrafoD:hover{

} */

/* Reservacion */

#reservacion {
    background-image: url(../Imagenes/pedido.jpg);
    flex-direction: row;
}

.reservacionN {
    display: flex;
    background-color: rgba(70, 71, 67, 0.473);
    height: 600px;
    width: 100%;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    background-color: #00ffcc86;
    height: 250px;
    width: 90%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.info h3,p{
    width: 80%;

}

.subcontactosRes {
    background-color: rgba(255, 255, 255, 0.466);
    color: #000000;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px 20px;
}

.subcontactosRes img{
    height: 100%;
}

.subcontactosRes p{
    text-align: center;
}

/* Reservacion Formulario */

.formReserva {
    display: flex;
    flex-direction: column;
    background-color: rgba(70, 71, 67, 0.473);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.formReserva h3 {
    text-align: center;
    margin: 20px 0;
}

.s {
    text-align: center;
    appearance: none;
    margin: 10px 0;
    margin-left: 20px;
    width: 80%;
    padding: 8px;
    height: 40px;
    border: none;
    border-radius: 15px;
}

#comentario {
    width: 80%;
}

@media screen and (max-width: 768px) {
    #reservacion {
        height: 1000px;
        background-color: rgba(0, 0, 0, 0.267);
        flex-direction: column;
    }

    .reservacionN {
        height: 50%;
        width: 100%;
        margin: 0;
    }

    #formas {
        height: 600px;
    }

    #cont{
        flex-direction: row;
    }

    .info {
        height: 190px;
        width: 90%;
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #informs {
        height: 30%;
    }

}

/* mejores comidas */

#mejores {
    flex-direction: column;
}

#mejores div ul {
    list-style-type: none;
}

#tituloMejores {
    background-color: #088395;
    width: 50%;
    height: 30%;
}

#tituloMejores h3 {
    height: 10%;
    margin-top: 30px;
    text-align: center;
}

#tituloMejores ul {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: space-around;
}

#tituloMejores ul li {
    margin-left: 20px;
}

/*  */

#menuMejores {
    overflow: hidden;
    width: 80%;
    height: 50%;
}

#menuUl{
    height: 100%;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
}

.minimenu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descrip{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.descrip figure{
    height: 100%;
    flex-basis: 40%;
}

.descrip figure img{
    width: 100%;
    height: 100%;
}

.descrip p{
    background-color: brown;
    height: 100%;
}

#comidas{
}

#desayuno{
}

#cena{
}

#diaEspecial{
}

/* Referencias */

#referencias {
    background-color: #0A4D68;
    height: 250px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #00FFCA;
    margin-bottom: 0;
}

.pie {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 5px;
    height: 60%;
}

#footerCon ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#footerCon ul li{
    transition:font-size 0.7s ease;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#footerCon ul li:hover{
    font-size: 70px;
}

#footerLog img{
    height: 100%;
    border-radius: 50%;
}