*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: #f0faff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#form-login{
    text-align: center;
    margin: 0 50%;
    margin: auto;
    margin-top: 5rem;
    padding: 20px 30px 120px;
    max-width: 470px;
    min-width: 320p;
    width: 100%;
    border-radius: 12px;
    background: #088395;
    box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.1 );
}

#form-login form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#form-login form h2{
    color: #fff;
    margin-bottom:15px ;
}

.inputs{
    height: 60px;
    width: 90%;
    outline: none;
    border: none;
    padding: 0 15px;
    margin: 15px 0;
    font-weight: 400;
    border-radius: 8px;
    background: #fff;
    font-family: inherit;    
}

#enviar2{
    transition: background-color 0.8s ease;
}

#regis{
    transition: color 0.4s ease;
    color: #fff;
}

#regis:hover{
    color: #00FFCA;
}

#enviar2:hover{
    background-color: #00FFCA;
}
